<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger</title>
    <link rel="stylesheet" href="/css/sugestao.css">
</head>

<body>
    <nav>
        <div class="container">
            <span class="text">DEV</span>
            <a href="/" class="logo">
                <img src="/images/logo.png" alt="DevBurger Logo" height="50px">
            </a>
            <span class="text">BURGER</span>
        </div>
        <div class="container">
            <ul class="links">
                <li class="inicio-link"><a href="/">Inicio</a></li>
                <li class="contato-link"><a href="/contato">Contato</a></li>
            </ul>
        </div>
    </nav>

    <div class="agradecimento">
        <div class="card-container">
            <h1>Obrigado pelo seu contato!</h1>
            <p>Sua mensagem foi enviada com sucesso. Entraremos em contato em breve!</p>
            <a href="/contato">Voltar ao formulário</a>
        </div>
    </div>
</body>

</html>