<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="container">
            <span class="text">DEV</span>
            <a href="index.html" class="logo">
                <img src="/images/logo.png" alt="DevBurger Logo" height="50px">
            </a>
            <span class="text">BURGER</span>
            <ul class="links">
                <!--<li><a href="">Inicio</a></li>
                <li><a href="contato.html">Contato</a></li>-->
            </ul>
        </div>
    </nav>
    <h1>Nosso Cardápio</h1>
    <div class="card-container" id="menu"></div>

    <h1>Sugestões</h1>
    <p>Você possui alguma sugestão de lanche para nos enviar? Sinta-se a vontade para nos mandar a sua ideia para tornarmos ela em um hamburguer super delicioso!</p>
    <form action="/sugestao" method="get">
        <div>
            <label for="imagem">URL da imagem:</label>
            <input type="url" id="imagem" name="imagem" required placeholder="https://exemplo.com/exemplo.jpg">
        </div>
        
        <div>
            <label for="nome">Nome do lanche:</label>
            <input type="text" id="nome" name="nome" required minlenght="2" placeholder="Big x-tudo">
        </div>

        <div>
            <label for="ingredientes">Ingredientes:</label>
            <textarea id="ingredientes" name="ingredientes" required minlenght="10" placeholder="Pão, carne, queijo..."></textarea>
        </div>

        <div>
            <button type="submit" class="botao">Enviar sugestão</button>
        </div>
    </form>

    <script src="/js/script.js"></script>
</body>
</html>