<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger</title>
    <link rel="stylesheet" href="/css/sugestao.css">
</head>

<body>
    <nav>
        <div class="container">
            <span class="text">DEV</span>
            <a href="index.html" class="logo">
                <img src="/images/logo.png" alt="DevBurger Logo" height="50px">
            </a>
            <span class="text">BURGER</span>
            <ul class="links">
                <!--<li><a href="">Inicio</a></li>
                <li><a href="contato.html">Contato</a></li>-->
            </ul>
        </div>
    </nav>

    <div class="agradecimento">
        <div class="card-container">
            <h1>Obrigado pela sua sugestão!</h1>
            <p>Iremos analisar a sua sugestão com muito carinho! 😄</p>
            <a href="/">Voltar para o cardápio online</a>
        </div>
    </div>

</body>

</html>