<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger</title>
    <link rel="stylesheet" href="/css/sugestao.css">
</head>

<body>
    <nav>
        <div class="container">
            <span class="text">DEV</span>
            <a href="/" class="logo">
                <img src="/images/logo.png" alt="DevBurger Logo" height="50px">
            </a>
            <span class="text">BURGER</span>
        </div>
        <div class="container">
            <ul class="links">
                <li class="inicio-link"><a href="/">Inicio</a></li>
                <li class="contato-link"><a href="/contato">Contato</a></li>
            </ul>
        </div>
    </nav>

    <div class="agradecimento">
        <div class="card-container">
            <h1>Obrigado pela sua sugestão!</h1>
            <p id="nome"></p>
            <p id="ingredientes"></p>
            <p>Iremos analisar a sua sugestão com muito carinho! 😄</p>
            <a href="/">Voltar para o cardápio online</a>
        </div>
    </div>

    <script>
        const params = new URLSearchParams(window.location.search);
        const nome = params.get("nome");
        const ingredientes = params.get("ingredientes");
    
        if (nome && ingredientes) {
            document.getElementById("nome").innerHTML = `<strong>Nome do lanche:</strong> ${nome}`;
            document.getElementById("ingredientes").innerHTML = `<strong>Ingredientes:</strong> ${ingredientes}`;
        } else {
            document.querySelector(".card").innerHTML = "<h2>Dados insuficientes. Por favor, preencha o formulário corretamente.</h2>";
        }
    </script>

</body>

</html>