* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #630A05;
    padding: 10px 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: yellow;
    font-size: 1.5em;
    margin: 0 10px;
}

/*Logo*/
.logo {
    color: white;
}

.links {
    list-style: none;
    display: flex;
}

.links li {
    margin-left: 20px;
}

.links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.agradecimento {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;      
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* força ficar um abaixo do outro */
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(255, 0, 0, 0.377);
    width: 500px;
}

.card h1 {
    margin: 20px 0;
    align-items: center;
    justify-content: center;
    color: black;
    margin-bottom: 0px;
}

.card p {
   margin: 20px 0;
   display: inline-block;
}

a {
    color:#a1120a;
}